.search_detail {
    width: 80%;
    margin: 10px auto;
    overflow: hidden;
    background-color: #F5F6FA;
    box-shadow: 1px 3px 20px #333333, 2px 2px 5px #333333;
    -moz-box-shadow: 1px 3px 20px #333333, 2px 2px 5px #333333;
    -webkit-box-shadow: 1px 3px 20px #333333, 2px 2px 5px #333333;
    padding: 2% 5%;
    border-radius: 5px;
}
.dropdown-menu li a {
    display:none;
}
.dropdown-menu {
    display:none;
}